@inherits ServerDisplayCompRazor
@rendermode InteractiveServer

@if (ServerInfoService.ServerInfo == null)
{
    <LoadingComp/>
}
else
{
    <div class="container container-md @GetBackgroundColor() rounded-2" style="max-width: 35rem; height: 3rem; font-size: large">
        <div class="row h-100 align-items-center ps-1 pe-1 text-nowrap flex-nowrap">
            <div class="col-10 btn m-0 p-0" @onclick="ConnectToServer">
                <div class="row m-0 p-0 flex-nowrap text-dark">
                    <div class="col-7 m-0 p-0 text-start text-truncate">
                        <strong class="text-decoration-underline ps-1" title="@Hostname">@Hostname</strong>
                    </div>

                    <div class="col-2 text-center m-0 p-0">
                        <span>
                            @ServerInfoService.ServerInfo.CurrentPlayerCount/@(ServerInfoService.ServerInfo.MaxPlayerCount)
                        </span>
                    </div>

                    <div class="col-3 text-center m-0 p-0 text-truncate">
                        <span>
                            @(string.IsNullOrWhiteSpace(ServerInfoService.ServerInfo.CurrentMap)
                                ? ServerInfoService.StartParameters.StartMap
                                : ServerInfoService.ServerInfo.CurrentMap)
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-2 m-0 p-0 d-flex justify-content-end align-items-center align-middle pt-1 flex-nowrap" style="font-size: x-large;">
                <button class="col-4 p-0 border-0 bg-transparent bi bi-copy text-dark"
                        @onclick="CopyConnectStringToClipboard">
                </button>

                <button
                    class="col-4 p-0 dropdown border-0 bg-transparent bi bi-map text-dark"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                </button>
                <ul class="dropdown-menu position-absolute z-3" aria-labelledby="dropdownMenuButton1">
                    @foreach (var map in ServerInfoService.Maps)
                    {
                        <li>
                            <button class="dropdown-item" type="button" @onclick="() => ChangeMap(map)">@map</button>
                        </li>
                    }
                </ul>

                @if (ServerInfoService.ServerInfo.ServerStarted)
                {
                    <button
                        class="col-4 p-0 border-0 bg-transparent bi-stop text-dark"
                        @onclick="StopServer">
                    </button>
                }
                else if (ServerInfoService.IsServerBusy)
                {
                    <button class="col-4 p-0 border-0 bg-transparent text-dark">
                        <div class="spinner-grow" title="Server is busy" role="status" style="width: 1.3rem; height: 1.3rem">
                            <span class="visually-hidden"></span>
                        </div>
                    </button>
                }
                else
                {
                    <button
                        class="col-4 p-0 border-0 bg-transparent bi-play text-dark"
                        @onclick="StartServer">
                    </button>
                }
            </div>
        </div>
    </div>
}