@page "/"
@inherits HomeRazor
@attribute [RenderModeInteractiveServer]

@if (ServerInfoService.ServerInfo is null || StartParameters is null)
{
    <LoadingComp/>
}
else
{
    <div class="container p-0 m-0">
        <div class="row" style="width: 40%;">
            <div class="col text-nowrap pb-3">
                <div class="p-1">
                    @if (ServerInfoService.ServerInfo.ServerStarted == false)
                    {
                        <button disabled="@ServerInfoService.ServerInfo?.ServerUpdatingOrInstalling" title="Start server" @onclick="@Start">Start server</button>
                    }
                    else
                    {
                        <button title="Stop server" @onclick="@Stop">Stop server</button>
                    }
                </div>

                <div class="p-1">
                    @if (ServerInfoService.ServerInfo?.ServerUpdatingOrInstalling == false)
                    {
                        <button title="Update server" @onclick="@StartUpdateOrInstall">Update server</button>
                    }
                    else
                    {
                        <button title="Cancel server update" @onclick="@CancelUpdateOrInstall">Cancel server update</button>
                    }
                </div>

                <div class="dropdown p-1">
                    <button disabled="@DisabledWhenServerIsOffline" type="button" id="changeMapDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" title="Changes map. The server needs to be online to do this">
                        Change map
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="changeMapDropdownMenuButton">
                        @foreach (var map in ServerInfoService.Maps)
                        {
                            <li>
                                <button disabled="@DisabledWhenServerIsOffline" class="dropdown-item" type="button" @onclick="() => ChangeMap(map)">@map</button>
                            </li>
                        }
                    </ul>
                </div>

                <div class="dropdown p-1">
                    <button disabled="@DisabledWhenServerIsOffline" type="button" id="executeConfigDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" title="Executing config. The server needs to be online to do this">
                        Execute config
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="executeConfigDropdownMenuButton">
                        @foreach (var config in ServerInfoService.Configs)
                        {
                            <li>
                                <button disabled="@DisabledWhenServerIsOffline" class="dropdown-item" type="button" @onclick="() => ExecuteConfig(config)">@config</button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="p-1 card" style="width: 18rem;">
                    <form>
                        <h4 class="text-center">Start parameters</h4>
                        <div>
                            <label for="serverHostname" class="form-label">Server hostname</label>
                            <input type="text" class="form-control" id="serverHostname" @bind="@StartParameters.ServerHostname"/>
                        </div>
                        <div>
                            <label for="serverPassword" class="form-label">Server password</label>
                            <input type="text" class="form-control" id="serverPassword" @bind="@StartParameters.ServerPassword"/>
                        </div>
                        <div>
                            <label for="maxPlayers" class="form-label">Max players</label>
                            <input type="number" class="form-control" id="maxPlayers" @bind="@StartParameters.MaxPlayer"/>
                        </div>
                        <div>
                            <label for="startMap" class="form-label">Start map</label>
                            <input type="text" class="form-control" id="startMap" @bind="@StartParameters.StartMap"/>
                        </div>
                        <div>
                            <label for="gameMode" class="form-label">Game mode</label>
                            <input type="number" class="form-control" id="gameMode" @bind="@StartParameters.GameMode"/>
                        </div>
                        <div>
                            <label for="gameType" class="form-label">Game type</label>
                            <input type="number" class="form-control" id="gameType" @bind="@StartParameters.GameType"/>
                        </div>
                        <div>
                            <label for="loginToken" class="form-label">Login token</label>
                            <input type="text" class="form-control" id="loginToken" @bind="@StartParameters.LoginToken"/>
                        </div>
                        <div>
                            <label for="additionalStartParameters" class="form-label">Additional start parameters</label>
                            <input type="text" class="form-control" id="additionalStartParameters" @bind="@StartParameters.AdditionalStartParameters"/>
                        </div>
                        <div class="pt-2">
                            <button type="submit" class="btn btn-primary" @onclick="SaveStartParameters" title="A restart is required for the new start parameters to take effect">Save</button>
                            <button type="submit" class="btn btn-primary" @onclick="SaveStartParametersAndRestartServer">Save and restart</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}